.enqModal {
  div[class="modal-content"] {
    // border-radius: 0;
    border: none;
    outline: none;
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    svg {
      font-size: 24px;
      cursor: pointer;
    }
  }
}

.signup {
  button {
    width: 100%;
  }

  .divider {
    display: flex;
    align-items: center;

    small {
      margin: 10px;
    }

    hr {
      width: 100%;
    }
  }
}