.CategorySection {
  padding: 50px 0;
  max-width: 100dvw;
  overflow: hidden;
  h2 {
    font-size: 45px;
    font-weight: bold;
    color: $color_p2;

    > span {
      color: $color_p1;
    }
  }
}

.VCard {
  margin-bottom: 20px;
  min-width: 180px;
  p {
    font-size: 15px;
    font-weight: 600;
  }

  small {
    font-size: 13px;
    color: $color_g3;
  }
}

.scroller {
  top: 60%;
  left: 0;
  z-index: 1000;
  height: fit-content;
  width: 100dvw;

  .inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 85px;

    .wrapper {
      position: absolute;
      display: flex;

      section {
        display: flex;
        align-items: center;
        animation: swipe var(--speed) linear infinite backwards;

        img {
          // max-width: 150px;
          // padding: 0 15px;
          height: 50px;
          margin: 20px 50px;
          filter: grayscale(1);
          // object-fit: cover;
          &:last-of-type {
            padding-left: 0;
          }

          &:hover {
            filter: grayscale(0);
          }
        }
      }
    }
  }

  &.back {
    .inner {
      .wrapper {
        section {
          animation: swipeLeft var(--speed) linear infinite backwards;
        }
      }
    }
  }
}

@keyframes scroll {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100%);
  }
}

@keyframes swipe {
  0% {
    transform: translate(-100%);
  }

  100% {
    transform: translate(0%);
  }
}
@keyframes swipeLeft {
  0% {
    transform: translate(0%);
  }

  100% {
    transform: translate(-100%);
  }
}
