.body {
  display: flex;
  // justify-content: space-between;
  gap: 50px;
  flex-direction: column;
  height: 100%;
  align-items: center;
  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4px;
    width: 100%;
    a {
      width: 100%;
      padding: 8px;
      font-size: 17px;
      color: black;
      border-bottom: 3px solid transparent;
      &.active {
        color: $color_p1;
        border-bottom: 3px solid $color_p1;
        font-weight: 600;
      }

      &:hover{
        color: $color_p1;
      }
    }
  }
}
