.LoadingScreen {
  background-color: rgba(0, 0, 0, 0.421);
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  @include flexCenter;
  z-index: 100;

  &.noBg {
    // background-color: transparent;
  }
}
