.JobsList {
  .toggleActive {
    font-size: 15px;

    margin: 0 0 10px auto;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 20px;

    p {
      text-decoration: underline;
      color: blue;
      cursor: pointer;
    }
  }

  .jobRow {
    .action {
      // @include flexCenter;
      svg {
        color: rgb(185, 15, 15);
        cursor: pointer;
        font-size: 20px;
      }
    }
  }

  .title {
    text-align: center;
    font-size: 18px;
    text-decoration: underline;
  }

  hr {
    opacity: 1;
    border-color: $color_p1;
  }
}
