.ManageSkills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .industry {
    border: 1px solid $color_g2;
    margin: 0 20px 20px 0;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    // height: 100%;
    // margin-bottom: 20px;
  }

  @include respond-below(sm) {
    .industry {
      width: 300px;
    }
  }
}
