.SkillSelector {
  position: relative;

  .bubbles {
    background-color: $color-g1;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    small {
      font-size: 12px;
      font-weight: bold;
      color: $color-g3;
      letter-spacing: -1.5px;
      width: 20px;
    }

    min-height: 45px;
    > div {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }

    .bubble {
      background-color: $color-p1_mild;
      color: $color-p1;
      padding: 2px 10px;
      border-radius: 20px;
      font-size: 14px;
      word-break: keep-all;
      display: flex;
      align-items: center;

      svg {
        margin-bottom: 3px;
        cursor: pointer;
      }
    }
  }

  .options {
    position: absolute;
    background-color: $color-g1;

    overflow: auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .category {
      border-bottom: 2px solid $color-g4;
      padding-bottom: 10px;
    }

    h4 {
      font-size: 17px;
      padding: 10px 0 5px 10px;
      margin: 0;
      font-weight: bold;
      color: $color-p1;
      //   padding: 5px 5px 5px 10px;
    }

    p {
      padding: 5px 10px 5px 32px;
      cursor: pointer;

      &:hover {
        background-color: $color-p1_mild;
        // color: ;
      }
    }
  }
}
