.MainFrame {
  padding: 20px;
  width: 100%;
  height: calc(100dvh - 120px);
  overflow-y: auto;

  @include respond-below(sm) {
    padding: 12px;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-size: 25px;
  }
  p {
    color: $color_g3;
    font-size: 15px;
  }

  margin-bottom: 20px;
}
