.footer {
  // background-color: #232b35;
  background-color: #2a225b;
  // background-color: red;
  // margin-top: 300px;
  padding: 50px 0;
  font-size: 15px;
  color: $color_g2;

  .topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
    background-color: $color_p1;
    color: white;
    @include flexCenter;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    z-index: 1000;
    animation: 0.5s show ease-in-out;
  }

  @keyframes show {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  h4 {
    // color: $color_p1;
    color: white;
  }

  .sec {
    padding-bottom: 40px;
    &.sec1 {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .logo {
        border-radius: 10px;
        background-color: white;
      }

      p {
        font-size: 14px;
      }

      @include respond-below(sm) {
        align-items: center;
        text-align: center;
      }
    }

    .links {
      margin: 16px 0;
      a {
        color: $color_g2;

        span {
          display: none;
        }
        &:hover {
          color: white;

          span {
            display: unset;
          }
        }
      }
    }
  }

  hr {
    color: $color_p1;
  }

  .legal {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      gap: 20px;

      * {
        color: $color_g2;
      }

      a {
        &:hover {
          color: $color_p1;
        }
      }
    }
  }

  @include respond-below(md) {
    .legal {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      > div {
        font-size: 14px;
        gap: 10px;
      }
    }
  }
}
