.MainHeader {
  padding: 10px 0;
  background-color: $color_p1_mild;

  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .right {
      .btns {
        display: no;
        gap: 16px;
      }
    }
  }
}
