.MainHeader {
  border-bottom: 1px solid $color_g2;
  padding: 10px 0;
  // background-color: $color_g1;


  .wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

   

    .right {
      .btns {
        display: no;
        gap: 16px;
      }
    }
  }
}


