.UpdateScreen {
  background-color: $color_g1;
  .LoginScreen {
    height: calc(100dvh - 111px);
    @include flexCenter;

    .name {
      display: flex;
      gap: 10px;
    }

    .box {
      width: 400px;
      background-color: white;
      padding: 20px;
      border-radius: 10px;

      @include respond-below(sm) {
        width: 90%;
      }

      .create {
        span {
          color: $color_p1;
          font-weight: 600;
          cursor: pointer;
        }
      }

      .forgot {
        font-size: 14px;
        //   background-color: red;
        display: block;
        width: fit-content;
        margin: 2px 0 0 auto;
        color: $color_link_blue;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
      }
    }
  }

  .link {
    transform: rotate(-20deg);
    color: $color_link_blue;
  }
}
