.AboutPageTab {
  .banner {
    .head {
      display: flex;
      gap: 16px;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .sections {
    .row {
      padding: 24px 0;
      border-bottom: 1px solid $color_g2;

      .img_prev {
        position: relative;
        margin-top: 20px;
        width: fit-content;
        .x {
          position: absolute;
          color: red;
          right: 0;
          cursor: pointer;
        }
      }
    }
  }
}
